<%= render 'form' %>

<ol>
	<% for episode in @episodes %>
	<li id = "episode_<%= episode.id%>">
	 <%= episode.title %>
		| <%= link_to "Edit" , edit_episode_path(episode) %>
		| <%= link_to "Delete", episode, :method => 'delete' %>
	</li>

	<% end %>

</ol>