<%= render 'form' %>

<ol>
	<% for episode in @episodes %>
	<li id = "episode_<%= episode.id%>" class = "content">
		 <%= episode.title %> | S<%= episode.season %> | E<%= episode.number %>
			| <%= link_to "Edit" , edit_episode_path(episode) %>
			| <%= link_to "Delete", episode, :method => 'delete' %>
			| <%= link_to "Watch", :controller => "episodes", :action => "watch", :id => episode %>
		</li>

	<% end %>

</ol>